<h1 align="center" class="display-4 mb-5">Edit Product</h1>
<div style="width:40%; margin: 25px auto">
    <form #form="ngForm" (ngSubmit)="onSubmit()">
        <!--Id-->
        <div class="form-group">
            <label for="name">Name</label>
            <input [readOnly]="isEdit" [disabled]="isEdit" [(ngModel)]="product.name" type="text"
                   class="form-control form-control-lg" #name
                   id="name" name="name" required #name="ngModel">
            <div *ngIf="name.invalid && (name.dirty ||name.touched)">
                <div *ngIf="name.errors.required">
                    Name is required.
                </div>
            </div>
        </div>

        <!--Name-->
        <div class="form-group">
            <label for="description">Description</label>
            <input [(ngModel)]="product.description" type="text" class="form-control form-control-lg" id="description" [readOnly]="isEdit" [disabled]="isEdit"
                   #description="ngModel"
                   name="description" placeholder="Description" required>
        </div>
        <div *ngIf="description.invalid && (description.dirty ||description.touched)">
            <div *ngIf="description.errors.required">
                Description is required.
            </div>
        </div>

        <!--Price-->
        <div class="form-group">
            <label for="price">Price</label>
            <input [(ngModel)]="product.price" type="number" class="form-control form-control-lg" id="price" [readOnly]="isEdit" [disabled]="isEdit"
                   #price="ngModel"
                   name="price" placeholder="Price" required>
        </div>
        <div *ngIf="price.invalid && (price.dirty ||price.touched)">
            <div *ngIf="price.errors.required">
                Price is required.
            </div>
        </div>

        <!--Quantity-->
        <div class="form-group">
            <label for="quantity">Quantity</label>
            <input [(ngModel)]="product.quantity" type="number" class="form-control form-control-lg" id="quantity" [readOnly]="isEdit" [disabled]="isEdit"
                   #quantity="ngModel"
                   name="quantity" placeholder="Quantity" required>
        </div>
        <div *ngIf="quantity.invalid && (quantity.dirty ||quantity.touched)">
            <div *ngIf="quantity.errors.required">
                Quantity is required.
            </div>
        </div>

        <!--Status-->
        <div class="form-group">
            <label for="status">Status</label>
            <select class="custom-select custom-select-lg " id="status" name="status" required  #status="ngModel"
                    [(ngModel)]="product.status">
                <option [ngValue]="Available">Available</option>
                <option [ngValue]="Unvailable">Unavailable</option>
            </select>
        </div>
        <div *ngIf="status.invalid && (status.dirty ||status.touched)">
            <div *ngIf="status.errors.required">
                Status is required.
            </div>
        </div>

        <!--Features-->
      <div class="form-group">
        <label for="features">Features</label> 
        <input [(ngModel)]="product.features" type="text" class="form-control form-control-lg" id="features" [readOnly]="isEdit" [disabled]="isEdit"
               #features="ngModel"
               name="features" placeholder="Features">
      </div>

      <!--Submit-->
      <div class="form-group">
        <button type="submit" [disabled]="!form.form.valid" class="btn btn-lg btn-primary btn-block">Update</button>
    </div>
    </form>
    <div>
      <button class="btn btn-lg btn-secondary btn-block" routerLink="/seller/product">Cancel</button>
    </div>
</div>
